<form method="post" action="/hello/multiple_1" enctype="multipart/form-data">

  File  :<input type="file" name="flee[one]"><br>
  File  :<input type="file" name="flee[two]"><br>
  File  :<input type="file" name="flee[three]"><br>
  File  :<input type="file" name="flee[four]"><br>
  File  :<input type="file" name="flee[five]"><br>

  <input type="submit" value="click me">
</form>