<form method="post" action="/hello/upload_1" enctype="multipart/form-data">
  Name  :<input type="text" name="name"><br>
  Email :<input type="text" name="email"><br>
  File  :<input type="file" name="flee"><br>

  <input type="submit" value="click me">
</form>

<a  href="/hello/multiple">Upload multiple Files</a>